:root {
  --bg: #0D1B1E;
  --headerbg: #176B87;
  --setbg: #279C94;
  --settext: #E3FDFD;
  --unsetbg: #10454F;
  --unsettext: #5DA9A8;
  --fontfamily: 'Kanit', sans-serif;
}

body,
html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--bg);
  overflow-y: hidden;
}

h1 {
  text-align: center;
  height: 8vh;
  padding: 0;
  margin: 0;
  color: var(--settext);
  font-size: 6vh;
  font-family: var(--fontfamily);
  text-decoration: underline;
}

.buttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 8vh;
}


button {
  border: 0.16em solid var(--bg);
  border-radius: 2em;
  box-shadow: 0 0 8px var(--headerbg);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
  color: var(--settext);
  transition: all 0.15s ease-in-out;
  background-color: var(--unsetbg);
}

button:active {
  transform: scale(0.9);
  background-color: var(--setbg);
  color: var(--unsettext);
}



#popup {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  z-index: 10;
  display: none;
}

#popupBackground {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 40vw;
  background-color: var(--bg);
  z-index: 11;
}

#popupHeader {
  text-align: center;
  color: var(--settext);
  margin: 0 0 2vh 0;
}

#popupEingabe {
  display: block;
  align-self: center;
  margin: 0 auto;
}

#popupButton {
  display: block;
  align-self: center;
  margin: 2vh auto;
}

table {
  font-family: var(--fontfamily);
  font-size: 3vh;
  text-align: center;
  height: 80vh;
}

.scoreboarddiv {
  min-width: 100vw;
  margin: 0 auto;
  overflow-y: scroll;
  width: auto;
}

tr {
  background-color: var(--setbg);
  color: var(--settext);
  text-shadow: 0 0 8px var(--bg);
}

th {
  padding: 0 1vh;
  background-color: var(--headerbg);
}

.Unset {
  color: var(--unsettext) !important;
  background-color: var(--unsetbg) !important;
  text-shadow: none;
}